body {
  display: flex;
  margin: 5 auto;
  background-color: darkgray;
  font-family: sans-serif;
}

/* Game board CSS */
.gameboard {
  /* display: flex; */
  display: none;
  flex-direction: column;
  /* background-color: #36654d; */
  background-image: url(../Gemini_Generated_Image_2mz4s42mz4s42mz4.png);
  /* font master for whole game board */
  font-family: "rosarivo";
  margin: auto;
  height: 680px;
  width: 1000px;
  border: solid 5px #7e4029;
  border-radius: 40px;
}

.gameheader {
  display: flex;
  justify-content: space-between;
  /* background-color: #181b22; */
  color: #dda74f;
  height: 50px;
  font-size: 30px;
  align-content: center;
  text-align: center;

  /* border for viz */
  /* border-style: solid; */
}

#logo {
  display: flex;
  margin: 15 0 0 25;
  text-shadow: 1px 1px 2px goldenrod;
}

#roundnumber {
  display: flex;
  margin: 15 23 0 0;
  text-shadow: 1px 1px 2px goldenrod;
}

.playarea {
  display: flex;
  flex-direction: row;
  color: #505050;
  height: 600px;
  color: white;
  margin: 30 0 0 10;
}

.playerdetails {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 0 0 15;
}

.detail {
  display: flex;
  flex-direction: column;
  height: 150px;
}

.playerID {
  height: 20%;
  /* background-color: green; */
  align-content: center;
}

.moneyholder {
  display: flex;
  justify-content: space-between;
  height: 20%;
  align-content: center;
  /* background-color: white; */
}

.winmessage {
  color: greenyellow;
}

.losemessage {
  color: red;
}

.drawmessage {
  color: whitesmoke;
}

.betAmount {
  height: 20%;
  align-content: center;
  /* background-color: peru; */
}

.cardarea {
  width: 60%;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 150px;
  /* background-color: lightcyan; */
}

.scoreboard-active {
  width: 20%;
}

.scoreboard {
  height: 150px;
  /* background-color: lightseagreen; */
}

.active-zone {
  display: flex;
  /* background-color: lightsalmon; */
  height: 450px;
}

.d-zone {
  height: 33%;
  display: flex;
  flex-direction: column;
}

#bet-amount {
  height: 30px;
  width: 100px;
}
.submitbet {
  height: 35px;
  width: 50px;
}

.decision {
  height: 35px;
  width: 75px;
}

#hit {
  background-color: lightgreen;
  width: 80px;
}
#stand {
  background-color: lightcoral;
  width: 80px;
}

.cardface {
  width: 60px;
  height: 90px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.cardback {
  width: 60px; /* Adjust as needed */
  height: 90px; /* Adjust as needed */
  background-color: #333; /* A dark background color */
  border-radius: 5px;
  border-style: solid;
  display: flex;
}

/* we use this card class to put in an empty card */
.cardempty {
  width: 60px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundresults-lose {
  height: 90px;
  width: 520px;
  text-align: center;
  font-size: 60px;
  background-color: red;
  opacity: 0.6;
}

.roundresults-win {
  height: 90px;
  width: 520px;
  text-align: center;
  font-size: 60px;
  background-color: green;
  opacity: 0.6;
}

.gameover {
  width: 100%;
  height: 60%;
  font-size: 30px;
  text-align: center;
  /* background-color: black; */
  opacity: 0.5;
}

.red {
  color: red;
}

.black {
  color: black;
}

/* start page CSS  */
.startpage {
  /* background-color: #36654d; */
  display: flex;
  background-image: url(../Gemini_Generated_Image_2mz4s42mz4s42mz4.png);
  font-family: "rosarivo";
  margin: auto;
  height: 680px;
  width: 1000px;
  border: solid 5px #7e4029;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  height: auto;
  width: 50%;
  margin: auto;
}

#gamelogo {
  display: flex;
  align-items: center;
  margin: 0 0 80 0;
}

#startbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 80px;
  /* margin: 100px; */
}

#nextgame {
  margin: 60 0 0 0;
  height: 40px;
}

/* How to page */
.howtopage {
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #36654d; */
  background-image: url(../Gemini_Generated_Image_2mz4s42mz4s42mz4.png);

  font-family: "rosarivo";
  margin: auto;
  height: 680px;
  width: 1000px;
  border: solid 5px #7e4029;
  border-radius: 40px;
}

.returntomain {
  width: 150px;
}

.rules,
ol {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.winner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 150px;
  /* background-color: white; */
  color: goldenrod;
  text-shadow: 1px 1px 2px black;
  justify-content: left;
  /* align-items: center; */
  font-size: 80;
  margin: 0 0 0 40;
}
