body {
  background-color: darkgray;
  font-family: sans-serif;
}

/* Game board CSS */
.gameboard {
  display: none;
  flex-direction: column;
  background-image: url(../images/background.png);
  font-family: "rosarivo";
  margin: auto;
  height: 680px;
  width: 1000px;
  border: solid 5px #7e4029;
  border-radius: 40px;
}

/* game header area */
.gameheader {
  display: flex;
  justify-content: space-between;
  margin: 15 23 0 25;
  color: #dda74f;
  height: 50px;
  font-size: 30px;
}
#logo {
  text-shadow: 2px 1px 2px black;
}
#roundnumber {
  text-shadow: 2px 1px 2px black;
}

/* Play Area */
.playarea {
  display: flex;
  flex-direction: row;
  height: 600px;
  color: whitesmoke;
  margin: 10 0 0 0;
}

.playerdetails {
  /* display: flex; */
  flex-direction: column;
  width: 20%;
  margin: 0 0 0 25;
}

.detail {
  /* display: flex; */
  flex-direction: column;
  height: 150px;
}

.playerID {
  height: 20%;
  align-content: center;
}

.moneyholder {
  display: flex;
  justify-content: space-between;
  height: 20%;
  align-content: center;
}

.winmessage {
  color: greenyellow;
}

.losemessage {
  color: red;
}

.drawmessage {
  color: whitesmoke;
}

.betAmount {
  height: 20%;
  align-content: center;
}

.cardarea {
  width: 60%;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 150px;
}

.scoreboard-active {
  width: 20%;
}

.scoreboard {
  height: 150px;
}

.active-zone {
  display: flex;
  height: 450px;
}

.d-zone {
  height: 33%;
  display: flex;
  flex-direction: column;
}

#bet-amount {
  height: 30px;
  width: 100px;
  font-family: "rosarivo";
  border-radius: 10px;
}
.submitbet {
  height: 35px;
  width: 50px;
  font-family: "rosarivo";
  border-radius: 10px;
}

.decision {
  height: 35px;
  width: 75px;
}

#hit {
  background-color: #327814;
  /* color: white;   */
  width: 80px;
  font-family: "rosarivo";
  border-radius: 15px;
  /* border-style: solid; */
  /* border-color: grey; */
}

#stand {
  background-color: lightcoral;
  /* color: beige; */

  width: 80px;
  font-family: "rosarivo";
  border-radius: 15px;
}

#nextgame {
  margin: 25 0 0 0;
  height: 40px;
  width: 170px;
  font-family: "rosarivo";
  border-radius: 15px;
}

.cardface {
  width: 60px;
  height: 90px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.cardback {
  width: 60px;
  height: 90px;
  background-color: #333;
  border-radius: 5px;
  border-style: solid;
  display: flex;
}

/* we use this card class to put in an empty card */
.cardempty {
  width: 60px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundresults-lose {
  height: 90px;
  width: 520px;
  text-align: center;
  font-size: 60px;
  background-color: red;
  opacity: 0.6;
}

.roundresults-win {
  height: 90px;
  width: 520px;
  text-align: center;
  font-size: 60px;
  background-color: green;
  opacity: 0.6;
}

.gameover {
  width: 100%;
  height: 60%;
  font-size: 30px;
  text-align: center;
  opacity: 0.5;
}

.red {
  color: red;
}

.black {
  color: black;
}

/* start page CSS  */
.startpage {
  display: flex;
  background-image: url(../images/background.png);
  font-family: "rosarivo";
  margin: auto;
  height: 680px;
  width: 1000px;
  border: solid 5px #7e4029;
  border-radius: 40px;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  height: auto;
  width: 50%;
  margin: auto;
}

#gamelogo {
  display: flex;
  align-items: center;
  margin: 0 0 80 0;
}

.startbutton,
.howtobutton {
  justify-content: center;
  width: 200px;
  height: 30px;
  margin: 5 0 5 0;
}

/* How to page */
.howtopage {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/background.png);
  font-family: "rosarivo";
  margin: auto;
  height: 680px;
  width: 1000px;
  border: solid 5px #7e4029;
  border-radius: 40px;
}

.returntomain {
  width: 150px;
}

.rules,
ol {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.winner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 150px;
  color: goldenrod;
  text-shadow: 1px 1px 2px black;
  justify-content: left;
  font-size: 80;
  margin: 0 0 0 40;
}

/* Audio */
#volumeon,
#volumemute {
  width: 80px;
  height: auto;
  margin: 160 0 0 100;
}

#volumeon {
  display: none;
}

#volumemute {
  display: flex;
}
